@import url(custom-ut/remove-border-padding.css);
@import url(custom-ut/increase-compact-hover.css);
#alltabs-button{display:none !important;}
#star-button-box{display:none !important;}
#tracking-protection-icon-box{display:none !important;}
#tracking-protection-icon-container{display:none !important;}
#zen-history-button{display:none !important;}
#unified-extensions-button{width: 1.85px; padding-inline: 0 !important}
#unified-extensions-button > .toolbarbutton-icon {width: 0 !important;}
#urlbar{
    padding-inline-end: calc(17px + 2 * var(--urlbar-icon-padding));
  }
#urlbar-container+.chromeclass-toolbar-additional{
    margin-inline-start: calc(0px - 19px - 2 * var(--urlbar-icon-padding) - var(--urlbar-margin-inline)) !important;
    position: relative;
    --toolbarbutton-inner-padding: var(--urlbar-icon-padding);
    --toolbarbutton-hover-background: var(--urlbar-box-hover-bgcolor);
  }
#zen-appcontent-navbar-container {
    align-self: center !important;
    width: 75% !important;
  }
#navigator-toolbox {
    padding-top: 10vh !important;
    height: 90vh !important;
}
