
[Desktop Entry]
Name=Zen Comic
Comment=Experience tranquillity while browsing the web without people tracking you
Keywords=web;browser;internet
Exec=/home/ocean_mars/.tarball-installations/zen/zen -P Comic --name Comic -no-remote %U
Icon=/home/ocean_mars/Downloads/Misc./icon/zen3/zen-comic3_1024x1024x32.png
Terminal=false
StartupNotify=true
StartupWMClass=Comic
NoDisplay=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;profile-manager-window;
[Desktop Action new-window]
Name=Open a New Window
Exec=/home/ocean_mars/.tarball-installations/zen/zen -P Comic -no-remote --new-window %U
[Desktop Action new-private-window]
Name=Open a New Private Window
Exec=/home/ocean_mars/.tarball-installations/zen/zen -P Comic -no-remote --private-window %U
[Desktop Action profile-manager-window]
Name=Open the Profile Manager
Exec=/home/ocean_mars/.tarball-installations/zen/zen --ProfileManager
