/*  Put Reload or Extension Button inside URL-bar */
#unified-extensions-button{width: 1.85px; padding-inline: 0 !important}
#unified-extensions-button > .toolbarbutton-icon {width: 0 !important;}
#urlbar{
    padding-inline-end: calc(17px + 2 * var(--urlbar-icon-padding));
  }
#urlbar-container+.chromeclass-toolbar-additional{
    margin-inline-start: calc(0px - 19px - 2 * var(--urlbar-icon-padding) - var(--urlbar-margin-inline)) !important;
    position: relative;
    --toolbarbutton-inner-padding: var(--urlbar-icon-padding);
    --toolbarbutton-hover-background: var(--urlbar-box-hover-bgcolor);
  }
  /* Centers the url text */
  #urlbar:not([focused]) .urlbar-input{
    text-align: center !important; 
  }