/* Font */
* {
  font-family: "Space Grotesk" !important;
  letter-spacing: 0.2px !important;
}
/* Hide Buttons */
#alltabs-button {
  display:none !important;
}   /* Tab Button */
#star-button-box {
  display: none !important;
}   /* Bookmarks Star Button */
#tracking-protection-icon-container {
  display: none !important;
}   /* Shield Button */
#urlbar-zoom-button {
  display: none !important;
}   /* URL Zoom Button *//*
#reader-mode-button {
  display: none !important;
}   /* Reader Mode Button */
#picture-in-picture-button {
  display: none !important;
}   /* PIP Button *//*
#unified-extensions-button {
  display: none !important;
} /* Extension Button */
#pageAction-urlbar-_testpilot-containers,
#userContext-icons {
  display: none !important;
} /* Container Button in URL-bar */
.tab-icon-overlay {
  display: none !important;
} /* Tab Audio button */
.tab-context-line {
  display: none !important;
} /* Default Container tab theme */
.zen-current-workspace-indicator {
  display: none !important;
} /* Hide the Workspace Indicator */

/*
#PanelUI-menu-button {
  display: none !important;
}*/
/* Old nav buttons */
#back-button {
  list-style-image: url("chrome://browser/skin/back.svg") !important;
}
#forward-button {
  list-style-image: url("chrome://browser/skin/forward.svg") !important;
}
/* Catpucin Theme *//*
@media (prefers-color-scheme: dark) {
  :root {
    --zen-colors-primary: #24273a !important;
    --zen-colors-secondary: #99adffaa !important;
    --zen-colors-tertiary: #181926 !important;
    --zen-colors-border: #363a4fba !important;
    --zen-dialog-background: #222436 !important;
    --zen-colors-input-bg: #252837a5 !important;
    .tab-background[selected=''] {
      background-color: #3b415dda !important;
    }
  }
}
#urlbar-background {
  background-color: #272b3d !important;
}
  /* Container Tab Theme */
/*
#tabbrowser-tabs {
  & .tabbrowser-tab {
    &[selected] .tab-background {
      border: 2px solid var(--identity-icon-color) !important;
      opacity: 0.8 !important;
    }
  }
}
  /* Tab Close button on hover */
#tabbrowser-tabs .tabbrowser-tab:not([pinned]):is([visuallyselected]):not(:hover) .tab-close-button {
  display: none !important;
}
/* Remove border padding *//*
#tabbrowser-tabpanels {
  padding: 0px !important;
}
#tabbrowser-tabbox {
  padding: 0px !important;
}
  /* Disable Rounded Corners *//*
:root .browserSidebarContainer {
  margin: unset!important;
  box-shadow: unset!important;
  clip-path: unset!important;
  border-radius: unset!important;
  overflow: unset!important;
} */
  /* Floating Status-bar */
#statuspanel {
  margin: 10px !important;
}
#statuspanel-label {
  border-radius: 1000px !important;
  padding: 2px 10px !important;
  border: 1px solid var(--zen-colors-border) !important;
  background: var(--zen-colors-tertiary) !important;
}
  /* Tab bar */
#navigator-toolbox {
  height: 80vh !important;
  top: 10vh !important;
}
#navigator-toolbox {
  --zen-toolbox-max-width: 74px !important;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  padding: 10px !important;
}
/* No window control buttons *//*
#toolbar-menubar:not([inactive="true"]) .titlebar-buttonbox-container {
  display:flex !important;
}
.titlebar-buttonbox-container {
  display:none !important;
}
/* text on general tab bar */
.tab-text:not([pinned]) {
  margin-top: 1px !important;
  margin-left: 4px !important;
}
/* Selected-Tabs Theme */
.tabbrowser-tab:is([selected],
[visuallyselected],
[multiselected])
  .tab-background {
  background-color: color-mix(
    in srgb,
    var(--identity-tab-color, var(--tab-group-color-gray-invert)) 15%,
    transparent
  ) !important;
  border: 2.5px solid
    color-mix(
      in srgb,
      var(--identity-tab-color, var(--tab-group-color-gray-invert)) 20%,
      transparent
    ) !important;
  opacity: 0.8 !important;
  border-left: 32px solid
    color-mix(
      in srgb,
      var(--identity-tab-color, var(--tab-group-color-gray-invert)) 20%,
      transparent
    ) !important;
}
  /* End */
